* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #90bfe2;
  color: black;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 40px 40px;
}


.navbar {
  text-align: center;
  padding: 20px 0;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  transition: 0.3s;
}

.navbar a:hover {
  color: #90bfe2;
  text-decoration: underline;
}

.hero{
  display: flex;
  align-items: center;
  height: 90vh;
  padding-left: 8%;
  background: linear-gradient(135deg, #d2e4f3, #90bfe2, #477ba2);;
}

.hero-text {
  max-width: 600px;
}

.highlight {
  color: #3979b3;
}

.subtitle {
  margin: 10px 0 20px;
  font-style: italic;
  font-size: 18px;
}

.btn {
  display: inline-block;
  background-color: #69a3cf;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background-color: #69a3cf;
  transform: scale(1.05);
}
.socials {
  margin-top: 25px;
}

.socials a {
  margin-right: 15px;
  color: #111;
  font-size: 22px;
  transition: color 0.3s;
}

.socials a:hover {
  color: 	#69a3cf;
}
.about{
  padding: 80px 8%;
  font-family: "Georgia", serif;
}

.about h2 {
  color: #111;
  margin-bottom: 15px;
  font-size: 26px;
}

.justify {
  text-align: justify;
  text-decoration: underline;
  line-height: 1.6;
  max-width: 700px;
  margin-bottom: 10px;
}

.members {
  color: #08457e;
  font-weight: bold;
  text-transform: capitalize;
}

.projects {
  background-color: #90bfe2;
  padding: 80px 8%;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 40px 40px;
}

.project {
  margin-bottom: 30px;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.project h3 {
  color: #270b07;
  font-weight: bold;
  text-shadow: 1px 1px 2px #ddd;
}

.contact {
  background-color: #ffffff;
  text-align: left;
  padding: 80px 8%;
}

.email {
  color: #266ca1;
  font-weight: bold;
  text-shadow: 1px 1px 2px #bbb;
}


footer {
  background-color: #69a3cf;
  color: white;
  text-align: center;
  padding: 15px;
  font-family: "Arial", sans-serif;
}

